.main-container{
    padding:10px;
}
.text-align{
    text-align:center;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}
.margin-top{
    margin-top:10px;
}
.margin-bottom{
    margin-bottom:10px;
}
.margin-left{
    margin-left:10px;
}
.margin-right{
    margin-right:10px;
}
.border-radius{
    border-radius:5px;
}
.clearFix::after{
    display:block;
    content:'.';
    height:0;
    visibility:hidden;
    clear:both;
    zoom:1;
}